################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GenAIArchitectLearning/CopilotIndices/17.14.1347.20289
/.vs/slnx.sqlite
/.vs/GenAIArchitectLearning/FileContentIndex
/.vs/VSWorkspaceState.json
